<HeadlessForm
  @data={{this.data}}
  @validateOn='focusout'
  @revalidateOn='input'
  @onSubmit={{this.doSomething}}
  as |form|
>
  <form.Field @name='firstName' as |field|>
    <div class='my-2 flex flex-col'>
      <field.Label class={{if field.isInvalid 'text-red-500'}}>First name</field.Label>
      <field.Input
        class='border rounded px-2 {{if field.isInvalid "border-red-500"}}'
        required
      />
      <field.Errors class='text-red-600' />
    </div>
  </form.Field>

  <form.Field @name='lastName' as |field|>
    <div class='my-2 flex flex-col'>
      <field.Label class={{if field.isInvalid 'text-red-500'}}>Last name</field.Label>
      <field.Input
        class='border rounded px-2 {{if field.isInvalid "border-red-500"}}'
        required
      />
      <field.Errors class='text-red-600' />
    </div>
  </form.Field>

  <form.Field @name='gender' as |field|>
    <div class='my-2 flex flex-col'>
      Gender:
      <div class='flex flex-row space-x-2'>
        <field.Radio @value='male' as |radio|>
          <radio.Input />
          <radio.Label>Male</radio.Label>
        </field.Radio>
        <field.Radio @value='female' as |radio|>
          <radio.Input />
          <radio.Label>Female</radio.Label>
        </field.Radio>
        <field.Radio @value='other' as |radio|>
          <radio.Input />
          <radio.Label>Other</radio.Label>
        </field.Radio>
      </div>
    </div>
  </form.Field>

  <form.Field @name='email' as |field|>
    <div class='my-2 flex flex-col'>
      <field.Label
        class={{if field.isInvalid 'text-red-500'}}
      >Email</field.Label>
      <field.Input
        class='border rounded px-2 {{if field.isInvalid "border-red-500"}}'
        @type='email'
        required
      />
      <field.Errors class='text-red-600' />
    </div>
  </form.Field>

  <form.Field @name='comment' as |field|>
    <div class='my-2 flex flex-col'>
      <field.Label>Comment</field.Label>
      <field.Textarea class='border rounded px-2' />
      <field.Errors class='text-red-600' />
    </div>
  </form.Field>

  <form.Field @name='accept_tos' as |field|>
    <div class='my-2 flex flex-row space-x-2'>
      <field.Checkbox required />
      <field.Label class={{if field.isInvalid 'text-red-500'}}>Accept TOS</field.Label>
      <field.Errors class='text-red-600' />
    </div>
  </form.Field>

  <button
    type='submit'
    class='bg-slate-600 text-white rounded px-8 py-1'
    data-test-submit
  >Submit</button>
</HeadlessForm>